$BG_BLACK: #141414;
$BG_UI: #313131;
$BG_UI_DIMMED: #1e1e1e99;

$BUTTON_ICON: #d8d8d8;
$BUTTON_ICON_DARK: #9e9a9b;
$BUTTON_ICON_DIMMED: #d8d8d899;
$BUTTON_ICON_INNER: #2f2f2f;

$BOX_SHADOW: #00000060;
$BOX_SHADOW_DIMMED: #00000030;
$BOX_SHADOW_THICK: #000000a0;
$GROUP_ICON: #00000033;

$HIGHLIGHT_ORANGE: #ffaf6d;
$HIGHLIGHT_YELLOW: #ffde08;
$HIGHLIGHT_BLUE: #5da5cf;
