@use "@/styles/colors";
@use "@/styles/levels";
@use "@/styles/sizes";

.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  z-index: levels.$LEVEL_UI;
  top: 10px;
  left: 10px;
}

.leftButtonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  box-shadow: colors.$UI_SHADOW;
}

.topButton {
  background-color: colors.$BG_UI;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goBackButton {
  width: 120px;
  padding-left: 10px;
  justify-content: flex-start;
  border-right: 3px solid colors.$BG_BLACK;
}

.infoButton {
  background-color: colors.$BG_UI_DIMMED;
  width: 40px;
  height: 40px;
  margin: 0 10px;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: colors.$BUTTON_ICON_INNER;
    width: 30px;
    height: 30px;
    border: 1px solid colors.$BUTTON_ICON_DIMMED;
    border-radius: 20px;
  }
}

.fileIcon {
  border-right: 3px solid colors.$BG_BLACK;
}
