@use "@/styles/colors";
@use "@/styles/sizes";

.name {
  font-size: sizes.$SIZE_NAME;
  color: colors.$WHITE;
  margin-bottom: 5px;
  filter: drop-shadow(0 0 2px colors.$BLACK);
}

.subName {
  font-size: sizes.$SIZE_SUBNAME;
  color: colors.$WHITE;
  font-weight: 700;
  filter: drop-shadow(0 0 2px colors.$BLACK);
}
